#main-header {
  display: flex;
  height: 520px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d89820;
  background-image: url(../images/header-background-image.png);
}
