#main-header {
  display: flex;
  height: 520px;
  padding-top: 120px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d89820;
  background-image: url(../images/header-background-image.png);
}

/* Desktop Breakpoint */
@media only screen and (min-width: 1024px) {
  #main-header {
    width: 33%;
  }
}